jupyterlab
notebook
viola
jupyter-console
qtconsole
pyqt5
autopep8

numpy
pandas
statistics
category_encoders
pandas-profiling
ipywidgets
sweetviz
dtale
scipy
matplotlib
sympy
seaborn
plotly
pillow
loguru
imutils
kaleido
sympy

scikit-learn
statsmodels
comet_ml
lightautoml
clustergram
imblearn
hyperopt
optuna

requests
xmltodict
openpyxl
pytesseract
python-dotenv
beautifulsoup4
schedule
joblib
yellowbrick