jupyterlab
notebook
viola
jupyter-console
qtconsole
pyqt5
autopep8

numpy
pandas
statistics
pandas-profiling
ipywidgets
sweetviz
dtale
scipy
matplotlib
sympy
seaborn
plotly

scikit-learn

requests
xmltodict
openpyxl