jupyterlab
notebook
viola
jupyter-console
qtconsole
pyqt5
autopep8

numpy
pandas
statistics
category_encoders
pandas-profiling
ipywidgets
sweetviz
dtale
scipy
matplotlib
sympy
seaborn
plotly
pillow
loguru
imutils
kaleido
sympy
cvxpy
pulp

scikit-learn
statsmodels
comet_ml
lightautoml
clustergram
imblearn
hyperopt
optuna
xgboost
catboost
pmdarima
arch

requests
xmltodict
openpyxl
pytesseract
python-dotenv
beautifulsoup4
schedule
joblib
yellowbrick